extends base

block content
	.jumbotron
		.container
			h1
				i.fa.fa-download Fronttier
			p A dependency manager for the front-end in Scala.
			p
				a.pull-right.btn.btn-primary.btn-lg(href="downloads/fronttier_2.11.jar") Download ver 0.1
	.container
		.callout.callout-danger
			h4 WARNING: This is alpha code
			p.
				Do not use this library for production code. This still
				requires proper testing and tunning.
			p.
				Use under your own risk.
		.h3 Comming soon